body {
    overflow-x: hidden;

    margin: 0;
}

* {
    padding: 0;

}


.brand-bar {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .6%;
    padding-bottom: .6%;
    padding-left: 2%;
    padding-right: 2%;
}

.image-container {
    overflow: hidden;
}

.imagecontainer img {
    height: auto;
    max-width: 12%;
}

.mainbutton {
    display: flex;
    justify-content: end;
    background-color: #4CAF50;
    border-radius: 3%;


}

.mainbutton button {
    color: white;
}

.nav-container {
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    text-align: center;


}


.navbar-container {
    justify-content: space-around;
    align-items: center;
}

.text {
    margin-left: 200px;
    gap: 25px;
    justify-content: center;
    text-align: center;
    font-weight: 550;

}

.navbar {
    margin-right: 15%;
    margin-left: 15%;

}

.navbar img {
    width: 55%;
    height: auto;

}


.nav-link {
    height: auto;
    margin-top: 3%;
    font-size: 15px;
    color: white;
}


.nav-link:hover {
    color: #CFA670;
    transition: 0.3s;
    text-decoration: underline;
}

button {
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 5%;
    padding: 40px 40px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 15px 35px;
    display: flex;
    border-color: white;

}

.button:hover {
    transform: scale(1.1);
}


.containers {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: auto;
    margin-top: 2%;


}

.head01 {
    font-weight: bolder;
    font-size: 50px;
    justify-content: center;
    text-align: center;

}

.head02 {
    margin-top: 0;
    font-size: 50px;
    font-weight: bolder;
    padding: 0;
    text-align: center;
}



.para p {
    width: 78%;
    text-align: center;
    display: flex;
    margin-left: 11%;

}

.demobutton button {
    background-color: #CFA670;

}

.demobutton button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;

}

.image-container img {
    display: flex;
    justify-content: space-around;
    height: auto;
    max-width: 95%;
    flex-direction: row;
    float: left;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.img4 {
    position: absolute;
    padding-bottom: 100px;
}


/* THE SECOND PAGE */

.container2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    height: auto;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 60px;

}

.head1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-left: 22%;
    justify-content: center;
    max-width: 60%;
}

.sentence {
    color: #CFA670;
    font-family: Sans-serif;
    justify-content: center;


}

.group-images {
    align-items: center;
    justify-content: center;

}

/*image 1*/


.image1 img {
    height: auto;
    max-width: 80%;
    margin-top: 30px;
}

.image1 h5 {
    font-weight: bold;
    margin-right: 26%;

}


.image1 p {
    text-align: left;
    max-width: 60%;
    margin-left: 13%;

}

/*image 2*/

.image2 {
    margin-top: 2%;
}

.image2 img {
    height: auto;
    max-width: 45%;
}

.image2 p {
    text-align: left;
    max-width: 60%;
    margin-left: 27%;

}

.image2 h5 {
    font-weight: bold;
}

/*image 3*/


.image3 img {
    height: auto;
    max-width: 70%;
}

.image3 p {
    text-align: left;
    max-width: 60%;
    margin-left: 18%;

}

.image3 h5 {
    font-weight: bold;
}

/*image 4*/

.image4 img {
    height: auto;
    width: 70%;
    margin-top: 3%;

}

.image4 p {
    text-align: left;
    max-width: 60%;
    margin-left: 13%;

}

.image4 h5 {
    font-weight: bold;
}


/*image 5*/

.image5 {
    margin-top: 3%;
}

.image5 img {
    height: auto;
    width: 80%;
}

.image5 p {
    text-align: left;
    max-width: 60%;
    margin-left: 19%;

}

.image5 h5 {
    font-weight: bold;
    padding-right: 13%;
    margin-top: 2%;
}


/*image 6*/

.image6 {
    margin-top: 5%;
}

.image6 img {
    height: auto;
    width: 70%;
}

.image6 p {
    text-align: left;
    max-width: 60%;
    margin-left: 22%;

}

.image6 h5 {
    font-weight: bold;
    padding-right: 13%;
    margin-top: 2%;
}


/* THIRD PAGE */


.border-container {
    margin-top: 5%;
}

.thirdcontainer {
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    height: auto;
    padding-top: 2%;
    padding-bottom: 4%;
}

.topheading {

    color: white;
    text-align: center;
    font-size: 45px;

}

.word1,
.word3 {
    font-size: 45px;
    font-weight: bold;

}

.word2 {
    font-size: 38px;
    font-style: italic;
    color: #CFA670;

}

.topheading h3 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;

}


.main1 {
    margin-left: 10%;
    margin-right: 10%;
}

.main1 h6 {
    margin-top: 15%;
}

.main img {
    background-color: white;
    padding: 22%;
    max-width: 90%;
    height: auto;
    border-radius: 5px;

}

.sub img {
    height: auto;
    margin-left: 25%;
    background-color: transparent;
    margin-top: 37%;

}


.row main {
    margin-top: 80px;
    padding-left: 250px;
    padding-right: 150px;

}

h6 {
    color: white;
    font-weight: 380;
    font-size: 12px;
    text-align: center;
}


.circle-icon {
    position: absolute;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 55%;
    margin-top: 50px;
    left: 17%;


}

.circle-icon1 h6 {
    position: absolute;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    bottom: 17px;
    padding-left: 18px;
    z-index: 2;
}

.circle-icon2 h6 {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 55%;
    bottom: 1%;
    left: 23vw;
}

.circle-icon3 h6 {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 55%;
    bottom: 1%;
    left: 45vw;
}

.midheading {
    margin-top: 80px;
}

.midheading h2 {
    color: white;
    font-weight: bold;
    padding-left: 29%;

}

.subpara p {
    color: white;
    font-size: 16px;
    text-align: center;
    max-width: 45%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.icontext {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 8%;
}

.icontext i {

    font-size: 21px;
    color: #CFA670;

}

.icontext h6 {
    font-weight: bold;
    font-size: 16px;
}

.row1 img {
    height: auto;
    margin-top: 15%;
    border-radius: 3px;
}

.row img:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
}


.curve-border31 {
    background-color: rgba(4, 2, 44, 0.94);
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border32 {
    background-color: rgba(4, 2, 44, 0.94);
    border-top-left-radius: 40px;
    height: 35px;

}

.curve-border33 {
    background-color: rgba(4, 2, 44, 0.94);
    border-bottom-right-radius: 40px;
    height: 35px;

}

.curve-border34 {
    background-color: rgba(4, 2, 44, 0.94);
    border-bottom-left-radius: 40px;
    height: 35px;

}

.menuimages {
    align-items: center;
    margin-left: 5%;
}

.menuimages img {
    max-width: 100%;

}


/* FOURTH PAGE */

.fourthcontainer {
    height: auto;

    width: 100%;

}

.p-4 {
    height: auto;
}

.large-image1 {
    position: relative;
    float: right;
    height: auto;
}

.img101 {
    position: absolute;
    z-index: 1;
    max-width: 88%;
    height: auto;
}

.img102 {
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    margin-top: 17%;

}

.title {
    float: right;
}

.page4 {
    margin-top: 5%;
}

.title h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title p {
    padding-top: 20px;
    font-size: 16px;

}

.title i {
    font-size: 20px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon {
    font-weight: bold;
    padding-left: 6px;
}

.btn-primary {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: 10px;
    height: 60px;
    border-radius: 5px;
}

.btn-primary:hover {
    transform: scale(0.8);
}

.btn-secondary {
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-top: 38px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 25px;
    height: 60px;
    border-radius: 5px;

}

.btn-secondary:hover {
    transform: scale(0.7);
}

.rowtwo {
    margin-bottom: 5%;
    margin-top: 10%;
}

.large-image2 {
    position: relative;


}

.img1 {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
    padding-top: 5%;

}

.img2 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 18%;
    margin-top: 40%;
    left: 76%;
    border-radius: 5%;

}

.img3 {
    position: absolute;
    z-index: 2;
    max-width: 18%;
    height: auto;
    left: 76%;
    border-radius: 5%;

}

.img4 {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 21%;
    border-radius: 5%;
    margin-top: 35%;
    left: 22%;


}

.title11 {
    float: left;
    margin-top: 5%;

}

.title11 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title11 p {
    padding-top: 20px;
    font-size: 16px;

}

.title11 i {
    font-size: 20px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon1 {
    font-weight: bold;
    padding-left: 6px;
}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 20px;
}


.button3:hover {
    transform: scale(0.8);
}

.rowthree {
    margin-top: 12%;
}

.large-image3 {
    position: relative;
    max-width: 100%;
    height: auto;
}

.img31 {

    position: absolute;
    max-width: 96%;
    z-index: 1;
    height: auto;
    margin-left: 4%;

}

.img32 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 20%;
    margin-top: 28%;
    left: 91%;

}

.img33 {
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    right: 73%;
    margin-top: 13%;
}

.img34 {
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    margin-top: 39%;
    right: 72%;
}

.title33 {
    padding-right: 4%;
}

.title33 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title33 p {
    padding-top: 20px;
    font-size: 16px;

}

.title33 i {
    font-size: 19px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon2 {
    font-weight: bold;
    font-size: 15px;
    padding-left: 6px;

}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 20px;
}

.rowfour {
    margin-top: 15%;
}

.large-image4 {
    position: relative;
    height: auto;
}

.img41 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 70%;
    float: left;
}

.img42 {
    position: absolute;
    z-index: 2;
    max-width: 17%;
    height: auto;
    margin-top: 18%;
    left: 62%;

}

.img43sh {
    z-index: 2;
    position: absolute;
    height: auto;
    width: 55%;
    margin-top: 35%;
    left: 35%;
}

.title44 {
    float: right;


}

.title44 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title44 p {
    padding-top: 15px;
    font-size: 16px;


}

.title44 i {
    font-size: 15px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon3 {
    font-weight: bold;
    font-size: 15px;
}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 12px;
}

/* fifthcontainer */


.fifthcontainer {
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;
    height: 60vh;
    background-color: #F9F9F9;
    margin-top: 200px;


}

.topheading1 {
    height: 80vh;

}

.topheading1 h1 {
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 60px;
}

.topheading1 h6 {
    color: black;
    text-align: center;
    font-size: 15px;
}

.line52 {
    margin: 0;
}

.line53 {
    margin-top: 7px;
}


.flagimage img {
    height: 180px;
    width: 98%;
    margin-top: 70px;
    margin-left: 20px;

}

.curve-border51 {
    background-color: white;
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border52 {
    background-color: white;
    border-top-left-radius: 40px;
    height: 35px;
}

/* sixthcontainer */

.sixthcontainer {
    height: auto;
    margin-top: 4%;

}


.more-features h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
}


.more-features p {
    color: black;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    max-width: 30%;
    margin-left: 35%;

}

.firstrow-images {
    margin-top: 2%;
    padding-left: 18%;
    padding-right: 20%;
    text-align: center;
}


.image51 img {
    height: auto;
    max-width: 32%;
    margin-bottom: 7%;

}


.image51 p {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
}

.image51 {
    padding: 2%;

}


/* seventh page */


.seventhcontainer {
    height: auto;
    background-color: #F9F9F9;
    margin-top: 120px;
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;

}

.mainheading {
    padding-top: 80px;
    text-align: center;
    font-size: 45px;
}

.word11,
.word33 {
    font-size: 45px;
    font-weight: bold;
    color: black;

}

.word22 {
    font-size: 38px;
    font-style: italic;
    color: #CFA670;

}

.mainheading h3 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;
    color: black;

}

.siximages img {
    height: auto;
    max-width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 3%;


}

.rowseven {
    margin-top: 7%;
    height: auto;
}

.title7 {
    margin-top: 3%;
    padding-right: 5%;
}

.title7 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title7 i {
    font-size: 15px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon3 {
    font-size: 17px;
    padding-left: 6px;

}

.last-floatingimages {
    position: relative;
    height: auto;
    overflow: inherit;

}

.img71 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 22%;
    border-radius: 5px;
    left: 60%;
}

.img72 {
    position: absolute;
    z-index: 1;
    max-width: 15%;
    height: auto;
    margin-top: 30%;
    left: 60%;
    border-radius: 2%;

}

.img73 {
    position: absolute;
    z-index: 1;
    max-width: 18%;
    height: auto;
    margin-top: 3%;
    border-radius: 2%;

}

.img74 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 13%;
    border-radius: 2%;
    margin-top: 32%;
    left: 35%;
}

.img75 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    top: 40%;
    left: 15%;
    border-radius: 2%;

}

.img76 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    margin-top: 23%;
    right: 83%;
    border-radius: 5px;

}

.img77 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    margin-top: 33%;
    right: 75%;
    border-radius: 5px;
}

.img78 {
    position: absolute;
    z-index: 3;
    height: auto;
    max-width: 33%;
    left: 28%;
    margin-top: 8%;
}

.starcontainer {
    margin-top: 12%;
    text-align: center;

}

.stars i {
    color: #F2B827;
    font-size: 30px;

}

.starcontainer h1 {
    padding-top: 2%;
    font-weight: bold;

}

.starcontainer p {
    color: black;
    text-align: center;
    max-width: 41%;
    margin-left: 30%;
    margin-top: 1%;
    line-height: 1.8;
    font-size: 14px;

}


#carouselExampleInterval img {
    margin-left: 30%;
    margin-top: 2%;
    height: auto;
}


/* eigthcontainer */


.eigthcontainer {
    height: auto;
    margin-top: 5%;
    padding-bottom: 6%;

}

.eigthcontainer h3 {
    color: #CFA670;
    font-style: italic;
    font-size: 25px;

}

.eigthcontainer p {

    font-weight: 750;
    font-size: 35px;
    padding-right: 2%;

}


.bar-content i {
    color: #F2B827;
    font-size: 20px;
    margin-left: 35%;

}

.g-metric {
    font-size: 20px;
    padding-left: 2%;

}

.Score96 {
    font-size: 80px;
    font-weight: bolder;
    padding-left: 1%;
}

.logo-text {
    margin-top: 5%;

}

.logo-text img {
    height: auto;
    max-width: 5%;
    margin-left: 30%;

}

.text88 {
    color: black;
    font-size: 20px;
    padding-left: 1%;
}

.numbers {
    font-weight: bolder;
    font-size: 40px;
    padding-left: 5%;


}

.logo-text h6 {
    color: black;
    font-size: 16px;
    padding-left: 30%;
    text-align: center;
    margin-top: 0px;
    line-height: 1px;

}


/* ninthcontainer */

.ninthcontainer {
    height: auto;
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;
    background-color: #F9F9F9;

}

.accordion {
    max-width: 40%;
    margin-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;

}


.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    background-color: white;
}

.accordion .contentBx .label::before {
    content: '>';
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    font-size: 20px;

}

.accordion .contentBx.active .label::before {
    content: '^';
}


.accordion .contentBx.active .content {
    position: relative;
    background: rgb(124, 116, 116);
    height: 0;
    overflow: hidden;
    transition: 3s;

}

.accordion .contentBx .label .content p {
    text-align: left;

}


/* tenthcontainer */


.curve-border10 {
    background-color: rgba(4, 8, 44, 0.94);
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border20 {
    background-color: rgba(4, 5, 44, 0.94);
    border-top-left-radius: 40px;
    height: 35px;

}

.tenthcontainer {
    height: auto;
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    padding-bottom: 7%;
    justify-content: center;
    align-items: center;

}


.topheading10 {
    text-align: center;
    padding-top: 15px;

}

.word101,
.word103 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.word102 {
    color: #CFA670;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
}

.topheading10 h3 {
    color: white;
    font-size: 45px;
    font-weight: bold;

}


.card-body {
    margin-left: 5%;
    height: auto;

}

.card-title {
    font-size: 25px;
    margin-top: 4%;
    margin-bottom: 3%;
    font-weight: bold;
    margin-right: 5%;
}

.card-price {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-right: 10%;
}

.card-list {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 4%;
    text-align: justify;
    margin-left: 2%;
    height: auto;
}

.card {
    height: auto;
    max-width: 20%;
    min-width: 10%;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    justify-content: center;
}

.pricing-button {
    color: #FFFFFF;
    background: #CFA670;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 10%;
}

.tickicon10 {
    font-size: 17px;
    padding-left: 1%;
}

progress {
    accent-color: black;
    width: 85%;
    padding: 2%;
    height: auto;
    margin-left: 12%;

}





@media only screen and (max-width: 850px) {

    /* For mobile phones: */
    .card {
        max-width: 100%;

    }
}



@media only screen and (max-width: 376px) {
    .menuimages img {
        margin: auto;

    }
}