body {
    overflow-x: hidden;

    margin: 0;
}

*{
    padding: 0;
 
}


.brand-bar {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .6%;
    padding-bottom: .6%;
    padding-left: 2%;
    padding-right: 2%;
}

.image-container{
    overflow: hidden;
}

.imagecontainer img {
    height:auto;
    max-width: 12%;
}

.mainbutton {
    display: flex;
    justify-content: end;
    background-color: #4CAF50;
    border-radius: 3%;
    

}

.mainbutton button {
    color: white;
}

.nav-container {
    height: auto;
    width: 100%;
    /* background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/background.jpg"); */
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    

}


.navbar-container {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 20%; */
}

.navbar {
 margin-right: 15%;
 margin-left: 15%;
 
}

.navbar img {
    width: 55%;
    height: auto;

}


.nav-link {
    height: auto;
    margin-top: 3%;
    font-size: 15px;
    color: white;
}


.nav-link:hover {
    color: #CFA670;
    transition: 0.3s;
    text-decoration: underline;
}

button {
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 5%;
    padding: 40px 40px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 15px 35px;
    display: flex;
    border-color: white;
    /* margin-bottom: 25%; */

}

.button:hover{
    transform: scale(1.1);
}


.containers {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: auto;
    margin-top: 2%;
 

}

.subhead h1 {
    font-weight: bolder;
    display: flex;
    /* justify-content: center; */
    font-size: 50px;
    margin-left: 25%;
    /* max-width: 51%; */
}

.subhead .head2{
    margin-left: 140px;
}


.para p {
    width: 78%;
    text-align: center;
    display: flex;
   margin-left: 11%;

}

.demobutton button {
    background-color: #CFA670;
   
}

.demobutton button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;

}

.image-container img {
    display: flex;
    justify-content: space-around;
    height: auto;
    max-width: 95%;
    flex-direction: row;
    float: left;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    /* box-shadow: 0px 50px 0px 0px rgba(0, 0, 0, 0.8); */
    /* box-shadow: none; */
    
}

.img4{
    position: absolute;
    padding-bottom: 100px;
}


/* THE SECOND PAGE */

.container2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: auto;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 60px;

}



.head1 {
    /* text-align: center; */
    display: flex;
    font-weight: bold;
    font-size: 40px;
    margin-left: 22%;
    max-width: 60%;
}


.head1 {
    /* text-align: center; */
    display: flex;
    font-weight: bold;
    font-size: 40px;
    margin-left: 22%;
    max-width: 60%;
}

/* .head2 {
    padding-left: 591px;
    padding-right: 480px;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;

} */

.sentence {
    color: #CFA670;
    padding-left: 11%;
    padding-right: 200px;
    font-family: Sans-serif;
    margin-top: 0;
   

}
.image1 p{
    text-align:center;
    max-width: 60%;
    margin: 0;
    
}


/*image 1*/


.image1 img {
    height: auto;
    max-width: 80%;
    margin-top: 30px;
}

.image1 h5 {
    font-weight: bold;

}

/* 
.image1 p{
    text-align:center;
    max-width: 60%;
    margin: 0;
    
} */

/*image 2*/

.image2 {
    /* padding-left: 5%; */
    /* padding-right: 5%; */
}


.image2 img {
    height: auto;
    max-width: 45%;
}

/*image 3*/

.image3 {
    /* padding-right: 300px; */

}

.image3 img {
    height: auto;
    max-width: 70%;
}

/*image 4*/

.image4 {
    /* padding-left: 290px; */
}

.image4 img {
    height: auto;
    width: 60%;
    margin-top: 30px;
    /* padding-right: 90px; */

}

/*image 5*/

.image5 {
    /* margin-left: 10px; */
    margin-top: 40px;
    /* padding-right: 20px; */
}

.image5 img {
    height: auto;
    width: 70%;
}

/*image 6*/

.image6 {
    /* padding-right: 300px; */
    margin-top: 60px;
    /* margin-left: 90px; */
}

.image6 img {
    height: auto;
    width: 60%;
}


/* THIRD PAGE */


.border-container {
    margin-top: 50px;
}

.thirdcontainer {
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    height: auto;
    padding-top: 100px;
}

.topheading {

    color: white;
    text-align: center;
    font-size: 45px;

}

.word1,
.word3 {
    font-size: 45px;
    font-weight: bold;

}

.word2 {
    font-size: 38px;
    font-style: italic;
    color: #CFA670;

}

.topheading h3 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;

}


.main1{
    margin-left: 180px;
    margin-right: 180px;
}
.main img {
    background-color: white;
    padding: 40px;
    width: 170px;
    height: 145px;
    border-radius: 5px;

}

.sub img {
    height: 20px;
    width: 45px;
    margin-left: 50px;
    background-color: transparent;
    margin-top: 65px;

}

.row main {
    margin-top: 80px;
    padding-left: 250px;
    padding-right: 150px;

}

h6 {
    color: white;
    margin-top: 40px;
    font-weight: 380;
    font-size: 12px;
    text-align: center;
}


.circle-icon{
    position: absolute;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-top: 50px;
    left: 260px;
 

}

.circle-icon1 h6{
    position: absolute;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    bottom: 17px;
    padding-left: 18px;
}

.circle-icon2 h6{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    bottom: 1%;
    left: 430px;
}

.circle-icon3 h6{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    background-color: #fa4612;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    bottom: 1%;
    left: 870px;
}
.midheading {
    margin-top: 80px;
}

.midheading h2 {
    color: white;
    font-weight: bold;
    padding-left: 380px;

}

.subpara p {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 550px;
    margin-left: 375px;
    margin-top: 30px;
}

.icontext {
    display: flex;
    flex-direction: row;
    color: white;


}

.icontext i {

    font-size: 21px;
    color: #CFA670;
    padding-right: 10px;
    padding-top: 38px;
    padding-left: 25px;

}

.icontext h6 {
    font-weight: bold;
    font-size: 16px;
}
 
/* .menuimages{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} */

.row1 img {
    margin-top: 70px;
    border-radius: 3px;
    /* display: flex;
    flex-direction: row; */

}

.row img:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
}


.curve-border31 {
    background-color: rgba(4, 15, 44, 0.94);
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border32 {
    background-color: rgba(4, 15, 44, 0.94);
    border-top-left-radius: 40px;
    height: 35px;

}
.curve-border33 {
    background-color: rgba(4, 15, 44, 0.94);
    border-bottom-right-radius: 40px;
    height: 35px;

}

.curve-border34 {
    background-color: rgba(4, 15, 44, 0.94);
    border-bottom-left-radius: 40px;
    height: 35px;

}

.menuimages{
    align-items: center;
    margin-left: 80px;
}

/* FOURTH PAGE */

.fourthcontainer {
    height: auto;

    width: 100%;

}

.p-4{
    height: auto;
}

.large-image1{
    position: relative;
    float: right;
    
}

.img101{
    /* height: 600px; */
    position: absolute;
    z-index: 1;
    max-width: 88%;
    height: auto;
    float: right;
    margin-left: 12%;
    

}

.img102{
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    float: left;
    margin-top: 17%;
    margin-left: 3%;

}

.title {
    /* padding-top: 6%; */
    /* width: 30%; */
    float: right;
}

.page4{
    margin-top: 5%;
}

.title h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title p {
    padding-top: 20px;
    font-size: 16px;

}

.title i {
    font-size: 20px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon {
    font-weight: bold;
    padding-left: 6px;
}

.btn-primary {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: 10px;
    height: 60px;
    border-radius: 5px;
}

.btn-primary:hover{
    transform: scale(0.8);
}

.btn-secondary {
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-top: 38px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 25px;
    height: 60px;
    border-radius: 5px;

}


.btn-secondary:hover{
    transform: scale(0.7);
}

.rowtwo {
    margin-bottom: 5%;
    margin-top: 10%;
}

.large-image2 {
    position: relative;
     
  
}

.img1 {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
    padding-top: 5%;

}

.img2 {
    position: absolute;
    z-index: 2;
   height: auto;
   max-width: 18%;
    margin-top: 40%;
    left: 76%;
    border-radius: 5%;

}

.img3 {
    position: absolute;
    z-index: 2;
    max-width: 18%;
    height: auto;
    left: 76%;
    border-radius: 5%;

}

.img4 {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 21%;
    border-radius: 5%;
    margin-top: 35%;
    left: 22%;


}

.title11 {
    float: left;
    margin-top: 5%;

}

.title11 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title11 p {
    padding-top: 20px;
    font-size: 16px;

}

.title11 i {
    font-size: 20px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon1 {
    font-weight: bold;
    padding-left: 6px;
}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 20px;
}


.button3:hover{
    transform: scale(0.8);
}

.rowthree{
    margin-top: 12%;
}

.large-image3 {
    position: relative;
    max-width: 100%;
    height: auto;
    /* transition: all 0.3s ease;
    transition: transform 0.1s linear;*/
    
}

.img31 {

    position: absolute;
    max-width: 96%;
    z-index: 1;
    height: auto;
    margin-left: 4%;

}

.img32 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 20%;
    margin-top: 28%;
    left: 91%;

}

.img33 {
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    right: 73%;
    margin-top: 13%;
}

.img34 {
    position: absolute;
    z-index: 2;
    max-width: 20%;
    height: auto;
    margin-top: 39%;
    right: 72%;
}

.title33{
    padding-right: 4%;
}

.title33 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title33 p {
    padding-top: 20px;
    font-size: 16px;

}

.title33 i {
    font-size: 19px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon2 {
    font-weight: bold;
    font-size: 15px;
    padding-left: 6px;

}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 20px;
}

.rowfour{
    margin-top: 15%;
}

.large-image4 {
    position: relative;
    height: auto;
    
    /* background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%); */
}

.img41 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 70%;
    float: left;
}

.img42 {
    position: absolute;
    z-index: 2;
    max-width: 17%;
    height: auto;
    margin-top: 18%;
    left: 62%;

}

.img43sh{
    z-index: 2;
    position: absolute;
    height: auto;
    width: 55%;
    margin-top: 35%;
    left: 35%;
}

.title44 {
    float: right;


}

.title44 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title44 p {
    padding-top: 15px;
    font-size: 16px;


}

.title44 i {
    font-size: 15px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon3 {
    font-weight: bold;
    /* padding-left: 6px; */
    font-size: 15px;
}


.button3 {
    background-color: rgb(2, 2, 27);
    color: white;
    font-size: 17px;
    margin-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 12px;
}

/* fifthcontainer */


.fifthcontainer {
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;
    height: 60vh;
    background-color: #F9F9F9;
    margin-top: 200px;


}

.topheading1 {
    height: 80vh;

}

.topheading1 h1 {
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 60px;
}

.topheading1 h6 {
    color: black;
    text-align: center;
    font-size: 15px;
}

.line52{
    margin: 0;
}

.line53{
    margin-top: 7px;
}


.flagimage img {
    height: 180px;
    width: 98%;
    margin-top: 70px;
    margin-left: 20px;

}

.curve-border51 {
    background-color: white;
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border52 {
    background-color: white;
    border-top-left-radius: 40px;
    height: 35px;
}

/* sixthcontainer */

.sixthcontainer {
    height: auto;
    margin-top: 4%;
    
}


.more-features h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
}


.more-features p {
    color: black;
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    max-width: 30%;
    margin-left: 35%;
    
}

.firstrow-images {
    margin-top: 2%;
    padding-left: 18%;
    padding-right: 20%;
    text-align: center;
}


.image51 img {
    height: auto;
    max-width: 32%;
    margin-bottom: 7%;

}


.image51 p {
    text-align: center;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
}

.image51{
    padding: 2%;

}





/* seventh page */


.seventhcontainer {
    height: 190vh;
    background-color: #F9F9F9;
    margin-top: 120px;
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;

}

.mainheading {
    padding-top: 80px;
    text-align: center;
    font-size: 45px;
}

.word11,
.word33 {
    font-size: 45px;
    font-weight: bold;
    color: black;

}

.word22 {
    font-size: 38px;
    font-style: italic;
    color: #CFA670;

}

.mainheading h3 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;
    color: black;

}

.siximages img {
    height: auto;
    max-width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 3%;
    

}

.rowseven{
    margin-top: 7%;
    height: auto;
}

.title7 {
    margin-top: 3%;
    /* max-width: 80%; */
    padding-right: 5%;
}

.title7 h2 {
    font-size: 38px;
    font-weight: bolder;
}

.title7 i {
    font-size: 15px;
    color: #CFA670;
    padding-top: 18px;
    line-height: 2px;

}

.tickicon3 {
    font-size: 17px;
    padding-left: 6px;

}

.last-floatingimages {
    position: relative;   
    height: auto;
    overflow: inherit;

}

.img71 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 22%;
    border-radius: 5px;
    left: 60%;
    /* transition: transform 0.2s; */
}

.img72 {
    position: absolute;
    z-index: 1;
    max-width: 15%;
    height: auto;
    margin-top: 30%;
    left: 60%;
    border-radius: 2%;

}

.img73 {
    position: absolute;
    z-index: 1;
    max-width: 18%;
    height: auto;
    margin-top: 3%;
    border-radius: 2%;

}

.img74 {
    position: absolute;
    z-index: 1;
    height: auto;
    max-width: 13%;
    border-radius: 2%;
    margin-top: 32%;
    left: 35%;
}

.img75 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    top: 40%;
    left: 15%;
    border-radius: 2%;

}

.img76 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    margin-top: 23%;
    right: 83%;
    border-radius: 5px;

}

.img77 {
    position: absolute;
    z-index: 2;
    height: auto;
    max-width: 15%;
    margin-top: 33%;
    right: 75%;
    border-radius: 5px;
}

.img78 {
    position: absolute;
    z-index: 3;
    height: auto;
    max-width: 33%;
    left: 28%;
    margin-top: 8%;
}

.starcontainer {
    margin-top: 12%;
    text-align: center;

}

.stars i {
    color: #F2B827;
    font-size: 30px;

}

.starcontainer h1 {
    padding-top: 2%;
    font-weight: bold;

}

.starcontainer p {
    color: black;
    text-align: center;
    max-width: 41%;
    margin-left: 30%;
    margin-top: 1%;
    line-height: 1.8;
    font-size: 14px;

}

#carouselExampleInterval img {
    margin-left: 30%;
    margin-top: 2%;

}


/* eigthcontainer */


.eigthcontainer {
    height: auto;
    margin-top: 5%;
    padding-bottom: 6%;

}

.eigthcontainer h3 {
    color: #CFA670;
    font-style: italic;
    font-size: 25px;
  
}

.eigthcontainer p {
 
    font-weight: 750;
    font-size: 35px;
    padding-right: 2%;

}


.bar-content i {
    color: #F2B827;
    font-size: 20px;
    margin-left: 35%;
 
}

.g-metric{
    font-size: 20px;
    padding-left: 2%;

}

.Score96{
    font-size: 80px;
    font-weight: bolder;
    padding-left: 1%;
}

.logo-text {
    margin-top: 50px;

}

.logo-text img {
    height: 50px;
    width: 60px;
    margin-left: 580px;

}

.text88 {
    color: black;
    font-size: 20px;
    padding-left: 20px;
}

.numbers {
    font-weight: bolder;
    font-size: 40px;
    padding-left: 70px;


}

.logo-text h6 {
    color: black;
    font-size: 16px;
    padding-left: 500px;
    text-align: center;
    margin-top: 0px;
    line-height: 1px;

}


/* ninthcontainer */

.ninthcontainer {
    height: 900px;
    background-image: url("../first-project/Assets/dot_pattern.png");
    background-size: 250px;
    background-color: #F9F9F9;

}

.accordion {
    width: 800px;
    margin-left: 500px;
    padding-top: 70px;

}

.accordion .contentBx {
    position: relative;
    /* margin: 10px 20px; */

}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    background-color:white;
}

.accordion .contentBx .label::before {
    content: '>';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;

}

.accordion .contentBx.active .label::before {
    content: '^';
}


.accordion .contentBx.active .content {
    position: relative;
    background: rgb(124, 116, 116);
    height: 0;
    overflow: hidden;
    transition: 3s;
    
}

.accordion .contentBx .label .content p{
    text-align: left;
    
}


/* tenthcontainer */


.curve-border10 {
    background-color: rgba(4, 15, 44, 0.94);
    border-top-right-radius: 40px;
    height: 35px;

}

.curve-border20 {
    background-color: rgba(4, 15, 44, 0.94);
    border-top-left-radius: 40px;
    height: 35px;

}

.tenthcontainer {
    height: 850px;
    background-image: linear-gradient(rgba(6, 21, 53, 0.94), rgba(9, 22, 47, 0.958)), url("../first-project/Assets/secondBackground\ pic.jpg");
    
}


.topheading10 {
    text-align: center;
    padding-top: 15px;

}

.word101,
.word103 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.word102 {
    color: #CFA670;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
}

.topheading10 h3 {
    color: white;
    font-size: 45px;
    font-weight: bold;

}

.card-body {
    margin-left: 20px;
}

.card-title {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: bold;
    margin-right: 55px;
}


.card-price {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 130px;

}

.card-list {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 40px;
    text-align: justify;
    margin-left: 25px;
}

.card {
    height: 490px;
    width: 380px;
    border-radius: 5px;
    padding-right: 30px;
    position: absolute;
    margin-left: 39%;
    margin-top: 3%;
}

.pricing-button {
    color: #FFFFFF;
    background: #CFA670;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 25px;
    position: absolute;
    bottom: 45px;
    padding-left: 28px;
    padding-right: 28px;

}

.tickicon10 {
    font-size: 17px;
    padding-left: 6px;

}


progress {
    accent-color: black;
    width: 85%;
    padding: 2%;
    height: auto;
   margin-left: 12%;
    
  }










  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menuimages .title .large-image1 .large-image2 .title11{
      width: 100%;
    }
  }